

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul {
  padding: 0;
}

body {
  font-family: sourcehansans-tc;
}

#tablePic {
  padding: 0;
}

#tableImg {
  width: 100%;
}

#tablePics ul {
  list-style: none;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#hostPic{
  padding-top: 30px;
  padding-bottom: 30px;
}

#tablePics, #tableDescription, #hostPic, .booking{
  background-color: rgb(248,238,238);
}

#hostImg {
  border-radius: 50%;
  border: 6px solid white;
  width: 200px;
}

.star {
  width: 18px;
}

#bookingSection{
  position: fixed;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.btn-default{
  background: rgb(255,120,53);
  border-color: rgb(230,97,48);
  color: white;
  font-weight: normal;
}

#tablePics img{
  width: 100%;
}

span.cancel{
  margin-right: 35px;
  margin-left: -35px;
}

.price{
  font-size: 24px;
}

.booking{
  font-size: 24px;
}

.messagePageWrapper {
  font-size: 20px;
}

.messageHeader .glyphicon {
  margin-left: 10px;
  margin-right: 15px;
}

.iconLinks {
  display: inline-block;
  float: right;
}

.smallPic{
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 0px;
}

.messageContent {
  display: inline-block;
  width: 90%;
}

.mySmallPic{
  right: 0;
}

.partnerSmallPic{
  left: 0;
}

.messagePiece {
  position: relative;
  margin-bottom: 20px;
}

.messageContent {
  margin-bottom: 0;
}

.partnerMessage .messageContent{
  margin-left: 10%;
}

.messageInput input{
  width:100%;
}

.messageInput {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.messageInput .row{
  background-color: white;
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1333;
  background-color: white;
  margin-bottom: 20px;
  height: 110px;
}

.messageBody {
  padding-top: 110px;
  padding-bottom: 40px;
}


/* Navbar*/
.navbutton{
	height:30px;
	margin:10px;
	padding:0px;

}

.navbuttonarea {
	background-color: #ff6553;
}

/* Call to Action */

.selection{
    width:80%;
    font-size:20px;
    color:black;
    margin-top:20px;
    margin-button:-20px;
    padding:10px;
    background-color: rgb(200,200,200);
}

.selectionbg{
	background-color: #b87d30;
}

.call-to-action {
    padding: 20px 0;
}

.call-to-action .btn {
    margin: 10px;
}
